$accentRed: #D22020;

$defaultBlack: #01163E;
$black1: #212529;
$black2: #343A40;

$gray1: #6C757D;
$gray2: #495057;
$gray3: #ADB5BD;
$gray4: #CED4DA;
$gray5: #8D959D;
$gray6: #ACB5BD;

$disabled: #d5bfc8;
$hoverRedButton: #ec5151;